<div class="adminsellerbg-image">
    <div class="container ">

        <div class="py-3 ">
            <div class="row d-flex justify-content-end align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">

                        <div class="card-body p-4  text-center">

                            <div class=" mb-md-5 mt-md-4 ">

                                <h2 class=" fw-bold mb-1 text-uppercase"><img src="/images/login-icon-png-27.png"
                                        style="width:80px">Admin Login</h2>
                                <p class="text-white mb-5">
                                    {{#if logginErr}}
                                <p style="color: rgb(255, 1, 1);">
                                    Invalid User Name / Password
                                </p>
                                {{else}}
                                Please enter your login and password!
                                {{/if}}
                                </p>
                                <form method="post" action="/admin">
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" name="phone" placeholder="Enter Phone number" id="typeEmailX"
                                            class="form-control form-control-lg" />
                                        {{!-- <label class="form-label" for="typeEmailX">Email/Phone</label> --}}
                                    </div>
                                    <p class="small  pb-lg-2 d-flex justify-content-end"><a class="text-white-50"
                                            href="#!">Forgot
                                            password?</a></p>
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX" name="password"
                                            placeholder="Enter Password" class="form-control form-control-lg" />
                                        {{!-- <label class="form-label" for="typePasswordX">Password</label> --}}
                                    </div>

                                    <p class="small  pb-lg-2"><a class="text-white" href="/admin/adminLoginOtp">Login
                                            With
                                            OTP?</a></p>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                                </form>

                            </div>

                            {{!-- <div>
                                <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign
                                        Up</a>
                                </p>
                            </div> --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>