<center>

    <img src="https://www.freepnglogos.com/uploads/worker-png/worker-construction-zone-story-time-vvp-events-calendar-24.png"
        width="200" alt="worker construction zone story time vvp events calendar" />
    <h1> 404 {{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</center>