<center>

    <img src="https://www.freepnglogos.com/uploads/worker-png/worker-construction-zone-story-time-vvp-events-calendar-24.png"
        width="200" alt="worker construction zone story time vvp events calendar" />
    <h1> 404 Not found </h1>

    <a href="/user/userHome" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Goto Home</a>
</center>